body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.canvas-container {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 25%;
  margin: auto;
  z-index: 100;
  background-color: #9cc705;
  /* border-radius: 20px; */
}
.ppal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 940px;
  height: 890px;
  background-color: aqua;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  outline: 5px solid #000000;
  /*border-radius: 20px; */
}

img {
  width: 100%;
  height: 100%;
}
